table {
  border: 1px dashed gray;
}

#td1 {
  background-color: dodgerblue;
  border: 2px solid red;
  font-style: italic;
}
.td1 {
  width: 15px;
}
#td2 {
  background-color: rgb(178, 178, 178);
}

.td-img img {
  width: 400px;
}

th {
  border-style: dotted;
  background-color: khaki;
  color: brown;
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}

table {
  background-color: gray;
  margin: auto;
}
