body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body .menetukanhari {
  background-color: crimson;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.dftrnilaisbt {
  display: flex;
  justify-content: center;
  align-items: center;
}
