fieldset {
  padding: 30px;
  border: 3px solid #00c9c8;
  background-color: #bffcf9;
}
legend {
  background-color: #47817f;
  color: snow;
  padding: 10px;
}
table {
  margin: auto;
}

input {
  border: 2px solid #00c9c8;
}

td {
  color: #47817f;
}

button {
  background-color: #47817f;
  border-color: #00c9c8;
  color: snow;
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  color: #47817f;
  background-color: snow;
}

img {
  width: 15%;
}
.test {
  margin: auto;
}
.gambar {
  display: flex;
  justify-content: center;
}
