h1 {
  color: aquamarine;
  font-weight: 400;
  text-decoration: overline red;
}

h6 {
  font-size: 70px;
  color: red;
  text-transform: capitalize;
}

p {
  letter-spacing: 5px;
  word-spacing: 15px;
  color: teal;
  text-transform: uppercase;
  line-height: 25px;
  font-style: italic;
}

/* body {
  background-image: url(../Praktikum5/media/ucing.png);
  background-repeat: repeat-y;
} */
