form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  background-color: #7bbaae;
}

table,
.card {
  background-color: #c9412d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.judul,
.detail {
  display: flex;
  justify-content: center;
}

.img img {
  width: 200px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  text-align: center;
}

h3 {
  font-family: "Poppins", sans-serif;
}
